@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome</h1>
<div class="container pt-3">
    <button onclick="toggleServiceRunning()" type="button" class="btn btn-success btn-lg">Start service</button>
    <small class="form-text text-muted">Service currently not running</small>
</div>
<hr/>
<div class="container pt-3">
    Analytics here
</div>


