@page
@model PrivacyModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Privacy</h1>
<div class="container pt-3">
    Privacy is really important!!!!!!!!!!!!!!!!!!!!!!!!!! stem piratenpartij!!!
</div>